
// -----------------------------
// 	Widgets
// -----------------------------

//  1.   Contact Form
//  2.   Twitter Widget
//	3.	 Social Icons
//	4.	 HR Line
//	5.	 

// -----------------------------
//  1. Instagram widget
// -----------------------------

.instagram {
    margin: 0px auto;
    display: table;
    text-align: center;
    width: 100%;
    background-color: #f8f8f8;
}


.introsuxceed {
    .feature__content-wrap {
        padding: 160px;
        background-color: white;
        @media @tablet {
            padding: 100px 60px;
        }
        @media @mobile {
            padding: 60px 20px;
        }
    }
    .feature__content-inner-wrap {
        text-align: center;
    }
    .feature__button {
        background-image:image('/images/chinese.jpg');
        text-indent: -999px;
        overflow: hidden;
        width: 130px;
    }
    .feature__headline {
        color: black;
        letter-spacing: 15px;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 42px;
    }
    .feature__strapline {
        color: black;
        font-weight: 300;
        font-size: 15px!important;
        line-height: 30px;
        max-width: 70%;
        margin: 0px auto;
        @media @tablet {
            max-width: 100%;
        }
    }
}

.featuresummer {
    .feature__background-image {
        background-color: fade(@color-swatch4,70%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .feature__content-wrap {
        padding: 160px;
        @media @tablet {
            padding: 100px 60px;
        }
        @media @mobile {
            padding: 60px 20px;
        }
    }
    .feature__content-inner-wrap {
        text-align: center;
    }
    .feature__headline {
        color: white;
        letter-spacing: 15px;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 42px;
    }
    .feature__strapline {
        color: white;
        font-weight: 300;
        font-size: 15px!important;
        line-height: 30px;
    }
    .feature__button {
        background-color: black!important; 
        color: white!important; 
        margin-top: 10px;
        &:hover {
            background-color: white!important;
            color: black!important; 
        }
    }
}

.introsuxceed {
    .feature__headline {
    @media @tablet-860px {
        font-size: bkscale(@font-swatch1-font-size, 0.9);
        line-height: bkscale(@font-swatch1-line-height, 1);
    }
    @media @mobile-650px {
        margin-bototm: 0.3em;
        font-size: bkscale(@font-swatch1-font-size, 0.62);
        line-height: bkscale(@font-swatch1-line-height, 0.95);
    }
}

.feature__strapline {
    font-size: bkscale(@font-swatch4-font-size, 0.8);
    line-height: bkscale(@font-swatch4-line-height, 0.8);
    @media @mobile-650px  {
        font-size: bkscale(@font-swatch3-font-size, 0.75);
        line-height: bkscale(@font-swatch3-line-height, 0.95);
    }
}
}

.featuresummer {
    .feature__headline {
    @media @tablet-860px {
        font-size: bkscale(@font-swatch1-font-size, 0.9);
        line-height: bkscale(@font-swatch1-line-height, 1);
    }
    @media @mobile-650px {
        margin-bototm: 0.3em;
        font-size: bkscale(@font-swatch1-font-size, 0.62);
        line-height: bkscale(@font-swatch1-line-height, 0.95);
    }
}

.feature__strapline {
    font-size: bkscale(@font-swatch4-font-size, 0.8);
    line-height: bkscale(@font-swatch4-line-height, 0.8);
    @media @mobile-650px  {
        font-size: bkscale(@font-swatch3-font-size, 0.75);
        line-height: bkscale(@font-swatch3-line-height, 0.75);
    }
}
}

// -----------------------------
//  1. Contact Form
// -----------------------------

.contactform__legend {
    display:none;
}



// -----------------------------
//  2. Twitter Widget
// -----------------------------


// Twitter widget container
ul.tweet-list {
	padding-left: 0;
	margin-top: 65px;
}

// Single tweet
.tweet-list li {
	background-color: rgb(250,250,250);
	border: 1px solid rgb(225,225,225);
	margin-bottom: 25px;
	.border-radius(6px);
	padding: 25px;

	/*
	&:first-child .account-link {
		top: -50px;
		position: absolute;
		left: 0;
		display: block;
		width: 100%;

		.account-link {
			display: block;
		}
	}*/

    &:first-child .tweet-content{
        &:before {
            content: "Latest tweets";
            top: -50px;
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            font-family: "Playfair Display", "Futura", Helvetica Neue, sans-serif;
            font-size: 27.2px;
            font-weight: 600;
        }

        &:after {
            color: #87ad92;
            content: "\f099";
            font-family: 'FontAwesome', sans-serif;
            position: absolute;
            right: 0;
            top: -50px;
            font-size: 24px;
        }
    }

	/*
	&:not(:first-child) .account-link {
		display: none;
		visibility: hidden;
	}*/

    .account-link {
        display: none;
        visibility: hidden;
    }

	// Re-add margin to final tweet
	&:last-child {
		margin-bottom: 25px;
	}

	// Adds chat style triangle to last tweet
	&:last-child:after {
		border-style: solid;
		border-width: 0 30px 30px 0;
		border-color: transparent rgb(250,250,250) transparent transparent;
		content: "";
		margin-top: 25px;
		position: absolute;
		right: 25px;
		width: 0;
		height: 0;
	}

	&:last-child:before {
		  border-style: solid;
		  border-width: 0 31px 30px 0;
		  border-color: transparent rgb(225,225,225) transparent transparent;
		  content: "";
		  margin-top: 25px;
		  position: absolute;
		  right: 24px;
		  width: 0;
		  height: 0;
		  position: absolute;
		  bottom: -5px;
	}
}

// Twitter account name styling
.account-name {
	font-family: @font-swatch2-font-family;
	font-size: bkscale(@font-swatch2-font-size, 0.85);

    @media @tablet-860px {
        font-size: bkscale(@font-swatch2-font-size, 0.75);   
        line-height: bkscale(@font-swatch2-font-size, 0.75);
    }

	// Adds twitter icon to the right of the account name
	&:after {
		color: @color-swatch2;
		content: "\f099";
		font-family: 'FontAwesome', sans-serif;
		position: absolute;
		right: 0;
	}
}

// Hide Twitter avatar
.twitter__avatar {
	display: none;
	visibility: hidden;
}

// Tweet content
.tweet-content {
	color: lighten(@font-swatch4-color, 10%);
    line-height: bkscale(@font-swatch5-line-height, 0.9);
	padding-bottom: 10px;
    word-break: break-word;
}

// Tweet metadata (Date and platform)
.tweet-metadata {
	font-size: bkscale(@font-swatch5-font-size, 0.85);
	font-style: italic;
	time, span {
		color: darken(@font-swatch5-color, 5%);
	}
}



// -----------------------------
//  3. Social Icons
// -----------------------------


// Hide social icons text
.social-name {
	display: none;
	visibility: hidden;
}

// Social links background
.social-link {
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;

	&:before {
		font-size: 18px;
		line-height: 40px;
		margin: 0;
	}

	&:hover {
		background-color: @font-swatch7-background-color-hover;
		color: darken(@color-swatch2, 20%);
	}
}



// -----------------------------
//  4. HR Line
// -----------------------------

hr.rule {
	background-color: @color-swatch7;
}



// -----------------------------
//  5. Company Address
// -----------------------------

.companyaddress {
	p {
		padding-bottom: 0.25em;
	}
}



// -----------------------------
//  6. Sign Up Widget
// -----------------------------

.signupform, .blogsearch {

	.form-body {
		.flex-display;
	}

	.form-group {
		.flex-grow(0);

		&:first-child {
			.flex-grow(1);
			padding-right: 15px;
		}
	}

    // Hides Legend
    legend {
        display: none;
        visibility: hidden;
    }

    // Brings button inline with input
    .button {
        margin-top: 37px;
    }
}



// -----------------------------
//  7. Dropbox Widget
// -----------------------------

.dropbox {
    // Dropbox Label
    span.label {
        margin-left: 6px;
    }
}




// -----------------------------
//  7. Image Widget
// -----------------------------

.imagewidget {
	.image-title {
		color: @font-swatch2-color;
		font-family: @font-swatch2-font-family;
		font-size: @font-swatch4-font-size;
		margin-bottom: 8px;
	}
	.image-description {
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
	}
}



// -----------------------------
// 6.  Gallery
// -----------------------------


// Gallery Layout
// --------------

.widget__gallery {
    // Gallery List
    .gallery-list {
        .clearfix;
        padding-top: 10px;
        &:hover li {
            opacity: 0.3;
        }
    }
    // Gallery Item
    .gallery-item {
        display: inline-block;
        float: left;
        margin-right: 3.33%;
        overflow: hidden;
        position: relative;
        width: 31%;
        margin-bottom: 2%;
        vertical-align: top;
        &:nth-child(3n) {
            margin-right: 0;
        }
        // Display at 50% at tablet
        @media @tablet-860px {
            width: 48%;
            &:nth-child(2n) {
                margin-right: 0!important;
            }
            &:nth-child(3n) {
                margin-right: 3.33%;
            }
        }
        // Display at 100% at mobile
        @media @mobile-650px {
            margin-right: 0!important;
            width: 100%;
            margin-bottom: 4%;
        }
        .image-link {
            -webkit-filter: grayscale(0%);
            .transition(all 0.5s ease-in-out);
        }
        &:hover {
            opacity: 1!important;

            .image-link {
                background-blend-mode: multiply;
                opacity: 0.85;
                -webkit-filter: grayscale(25%);
                text-decoration: none;
            }

            figcaption {
                background-color: fade(@color-swatch4, 85%);
                height: 100%;
                opacity: 1;
                .transition(left 0.5s ease-in-out);
                visibility: visible;
                overflow: hidden;
                left: 0;

                &:after {
                    content: "";
                    position: absolute;
                    height: 10px;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    .gradient(fade(@color-swatch4, 0%), fade(@color-swatch4, 10%));
                }
            }
        }
    }
    .gallery__figure {
        .transition(all 0.5s ease-in-out);
    }

    // Hide Figcaption
    figcaption {
        position: absolute;
        display: block;
        height: 0;
        margin: 0;
        padding: 0 30px;
        opacity: 0;
        text-align: left;
        left: -100%;
        bottom: 0;
        top: 0;
        width: 100%;
        visibility: hidden;

        @media @mobile-650px {
            left: 0;
        }

        .caption-link {
            .flex-display;
            .flex-wrap(wrap);
            .align-items(center);
            .align-content(center);
            height: 100%;
            width: 100%;
        }

        .caption-link:hover {
            text-decoration: none;
        }

        .image-title {
            color: @color-swatch1;
            text-transform: uppercase;
            font-family: @font-swatch4-font-family;
            letter-spacing: 1px;
            font-size: 15px;
            line-height: 24px;
            display: block;
            padding: 6px 0 5px;
        }

        .image-description {
            color: darken(@color-swatch1, 15%);
            display: block;
            font-size: 15px;
            line-height: 23px;
        }
    }

    // Use Background Image
    .image-link {
        display: block;
        padding-bottom: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // Hide Inline Image
        .image {
            display: none;
        }
    }
}



// Gallery Images
// --------------

// Use Background-image Method
.gallery__image-link {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// Hide Img Element
.gallery__image {
    display: none;
}


// Gallery Image Captions
// ----------------------

// Hide Caption
.gallery__caption {
    display: none;
    margin: 0;
    padding: 20px;
    background-color: @color-swatch7;
}

// Show Caption
.image-link:hover .image-gallery__caption {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}


// -----------------------------
// 7.  Slideshow
// -----------------------------


div[role="main"] {

    // Slideshow Height
    .responsiveslideshow, 
    .responsiveslideshow__figure {
        position: relative;
        height: 500px;

        @media @tablet {
            height: 350px;
        }
    }

    .responsiveslideshow {
        margin: 0 0 60px 0;

        // Slide Caption
        .caption {
            background-color: fade(@color-swatch1, 75%);
            display: inline-block;
            margin: 0 auto;
            max-width: 80%;
            padding: 25px;
            left: 0;
            right: 0;
            text-align: center;
            width: auto;

            @media @tablet {
                max-width: 70%;
            }

            .image-title {
                color: @font-swatch4-color;
                font-size: bkscale(@font-swatch4-font-size, 0.9);
                font-weight: @font-swatch3-font-weight;
                line-height: bkscale(@font-swatch4-line-height, 0.9); 
                margin-bottom: 4px;

                @media @tablet {
                    font-size: bkscale(@font-swatch4-font-size, 0.9);
                    line-height: bkscale(@font-swatch4-font-size, 0.9);
                }
            }
        }

        // Slide Navigation Controls
        .slide-navigation {
            position: absolute;
            bottom: 0;
            top: 0;
            margin: 0;
            width: 100%;

            button {
                background-color: @color-swatch1;
                color: @color-swatch4;
                padding: 0;
                position: absolute;
                height: 100px;
                width: 45px;
                top: 200px;
                .transition(all 0.5s ease);

                @media @tablet {
                    top: 125px;
                }

                .icon:before {
                    margin-right: 0;
                }
            }

            // Hides button control text (play, pause etc.)
            button span.control-text {
                display: none;
            } 

            // Previous and next arrow styling
            .previous-button, 
            .next-button {
                &:before, &:after {
                    font-size: 27px;
                    margin: 0;
                    vertical-align: middle;
                }
            }

            // Previous arrow
            .previous-button {
                left: 0;

                &:before {
                    content: "\f104";
                      margin-right: 5px;
                }
            }

            // Next arrow
            .next-button {
                right: 0;

                &:after {
                    content: "\f105";
                    margin-left: 5px;
                }
            }

            // Pause button
            .pause-toggle {
                background-color: fade(@color-swatch1, 75%);
                margin: 0 auto;
                height: 60px;
                left: 0;
                right: 0;
                width: 60px;
                top: 225px;
                display: inline-block;
                visibility: visible;

                @media @tablet {
                    top: 145px;
                }

                &:hover {
                    background-color: @color-swatch1;
                }

                &:before {
                    border-left: 3px solid @font-swatch6-color-hover;
                    border-right: 3px solid @font-swatch6-color-hover;
                    content: "";
                    font-size: 20px;
                    margin: 0;
                    padding: 0 3px;
                    vertical-align: top;
                } 
            }
        }

        // Overlay Slide Pagination Over Image
        .slide-pagination {
            display: block;
            margin: 25px 0;

            // Restrict Width of Pagination
            ul.pagination-list {
                text-align: center;

                @media @tablet {
                    display: none;
                    visibility: hidden;
                }
            }

            li.pagination-item {
                margin-bottom: 5px;
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }

                &.selected button {
                     background-color: @font-swatch6-color-hover;
                }
            }

            // Pagination button
            button {
                background-color: fade(@font-swatch6-color, 40%);
                border: none;
                overflow: hidden;
                padding: 0!important;
                .rotate(45deg);
                text-indent: -9999px;
                height: 13px;
                width: 13px;
            }
        }
    }
}

.home-page .responsiveslideshow {
    .slide-item[data-ref="2"] figure {
        @media @tablet {
            background-position: 80% center!important;
        }
    }
    .slide-item[data-ref="3"] figure {
        @media @tablet {
            background-position: 70% center!important;
        }
    }
}


// -----------------------------
//  1. Company Description
// -----------------------------

.companydescription h3 {
    font-size: bkscale(@font-swatch4-font-size, 0.9);
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
}

// -----------------------------
//  1. Yelp Widget
// -----------------------------

.review-list {
    margin-left: 0;

    .review-title {
        margin-bottom: 5px;
    }

    .author-label, 
    .review-author {
        font-size: 21px;
    }

    .review-text {
        padding: 10px 0px 2px;
    }

    .review-footer {
        margin-top: 10px;

        .timestamp {
            font-size: 15px;
        }
    }

    li {
        list-style: none;
    }
}
