{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">
	<div class="default-page">

	<!-- HEADER -->
	{% include "includes/header.twig" %}

	<!-- MAIN SECTION -->
	{{widget('blogsearch', 'blogsearch', {})|raw}}

	<div role="main" id="main">

		<div class="container">

			<!-- MAIN ZONE -->
			{{widget('blogpostlist', 'allblogposts', {})|raw}}

		</div>

	</div>
	
	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

	</div>
</div>
<!-- END CONTAINER -->

{% endblock %}
