{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="template-title-wrap">
    <div class="template-title">
    	{{widget('logo', 'sitelogo', {"defaultlogo": asset('images/logo.png')})|raw}}
        <h1 style="padding-bottom: 0;">
            <span>{{ page.title }}</span>
        </h1>
        {{widget('content', 'logobannerright1', {content: '<p>Lorem ipsum dolor sit amet</p>'})|raw}}
    </div>
</div>

<div class="bk-pt-default">
	
	<!-- Container -->
	<div class="container">
	
		<!-- Page Content -->
		<section class="template-content">
	
			<!-- Template Widgets -->
			
			<!-- End Template Widgets -->
	
			<!-- Main Widet Zone -->
		   	{{zone('main')|raw}}
	
		</section>
		<!-- End Page Content -->
	
	</div>
	<!-- End Container -->

</div>
<!-- End bk-pt-default -->

{% include "includes/footer.twig" %}

{% endblock %}
