{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">
	<div class="home-page">

		<!-- FULL SCREEN SLIDESHOW -->
		{{widget('responsiveslideshow', 'slideshow', {
			'duration':'4',
			'transSpeed': '2000',
			'transType': 'fade',
			'showButtons': false,
			'showBullets': true,
			'allowPause': false,
			'allowLoop': false,
			'crop': true,
			'images':[
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-5.jpg')
			},
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-3.jpg')
			},
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-4	.jpg')
			}
			]
		})|raw}}

		<!-- HEADER -->
		{% include "includes/header.twig" %}
		
	</div>

		<!-- Homepage Feature -->
	<div class="introsuxceed">
		{{widget('feature', 'introsuxceed', {
			"header": "INSPIRED BY CULTURE",
			"strapline": "A UK based contemporary streetwear brand combining influences and inspiration from the oriental culture. Stocked and sold at our 71 Queens stores in Bristol and Bath, our aim is to bring something new, something unique and something fresh onto the streetwear scene.",
			"defaultBgImg": asset('images/feature-bg.jpg'),
			'positionTopPercentage': '0',
			'showBtn': true,
			buttonText: "Lorem Ipsum"
		})|raw}}
		</div>
		<!-- End Homepage Feature -->
		
		<!-- Homepage Feature -->
			<div class="featuresummer">
		{{widget('feature', 'featuresummer', {
			"header": "OUR COLLECTION",
			"strapline": "Visit the online store to view our clothing range",
			"defaultBgImg": asset('images/feature-bg.jpg'),
			'positionTopPercentage': '0',
			'showBtn': true,
			buttonText: "VISIT STORE"
		})|raw}}
		</div>
<!-- End Homepage Feature -->

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<div class="homepage-container">

		<!-- MAIN ZONE -->
		{{zone('main')|raw}}

		<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/ddbc915b919157e6a246755463700216.html" id="lightwidget_ddbc915b91" name="lightwidget_ddbc915b91"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

		<div class="facebook-plugin">

		<div class="fb-page" data-href="https://www.facebook.com/suxceedapparel/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/suxceedapparel/"><a href="https://www.facebook.com/suxceedapparel/">Suxceed</a></blockquote></div></div>

		</div>

		</div>

	</div>
	
	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}
