{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">
	<div class="home-page">

		<!-- FULL SCREEN SLIDESHOW -->
		{{widget('responsiveslideshow', 'slideshow', {
			'duration':'4',
			'transSpeed': '2000',
			'transType': 'fade',
			'showButtons': false,
			'showBullets': true,
			'allowPause': false,
			'allowLoop': false,
			'crop': true,
			'images':[
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-5.jpg')
			},
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-3.jpg')
			},
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-4	.jpg')
			}
			]
		})|raw}}

		<!-- HEADER -->
		{% include "includes/header.twig" %}
		
	</div>

		<!-- Homepage Feature -->
	<div class="introsuxceed">
		{{widget('feature', introsuxceed', {
			"header": "INSPIRED BY CULTURE",
			"strapline": "A UK based contemporary streetwear brand combining influences and inspiration from the oriental culture. Stocked and sold at our 71 Queens stores in Bristol and Bath, our aim is to bring something new, something unique and something fresh onto the streetwear scene.",
			"defaultBgImg": asset('images/feature-bg.jpg'),
			'positionTopPercentage': '0',
			'showBtn': true,
			buttonText: "Lorem Ipsum"
		})|raw}}
		</div>
		<!-- End Homepage Feature -->
		
		<!-- Homepage Feature -->
			<div class="featuresummer">
		{{widget('feature', 'featuresummer', {
			"header": "SUMMER COLLECTION",
			"strapline": "Visit our online shop for our new tshirt range consisting of 6 styles available for you to choose",
			"defaultBgImg": asset('images/feature-bg.jpg'),
			'positionTopPercentage': '0',
			'showBtn': true,
			buttonText: "VISIT STORE"
		})|raw}}
		</div>
<!-- End Homepage Feature -->

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<div class="container">

			<!-- MAIN ZONE -->
			{{zone('main')|raw}}

		</div>

	</div>

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}
