{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">
	<div class="home-page">

<!-- Homepage Feature -->
{{widget('feature', 'featurehome', {
	"header": "profile",
	"defaultBgImg": asset('images/feature-bg.jpg'),
	'positionTopPercentage': '0',
	'showBtn': true,
	buttonText: "Lorem Ipsum"
})|raw}}
<!-- End Homepage Feature -->

		<!-- HEADER -->
		{% include "includes/header.twig" %}
		
	</div>

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<div class="container">

			<!-- MAIN ZONE -->
			{{zone('main')|raw}}

		</div>

	</div>

<div class="instagram">
<!-- SnapWidget -->
<iframe src="http://snapwidget.com/sc/?u=c3V4Y2VlZGFwcGFyZWx8aW58MTUwfDN8M3wwMDAwMDB8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=130615" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:960px; height:150px"></iframe>
</div>

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}

{% block scripts %}

	<!-- Background Check 
	<script src="{{asset('js/background-check.js')}}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Specific images
			BackgroundCheck.init({
				targets: '.navigation-list',
				images: '.responsiveslideshow__figure'
			});
			BackgroundCheck.refresh();
		}); 




		(function Forever(){
		    BackgroundCheck.refresh();
		    setTimeout(Forever, 1000);
		})();
	</script>-->
	
{% endblock %}
