
// -----------------------------
// Table of Contents
// -----------------------------

//  1.  LESS Includes
//  2.  Global Styles
//  3.  Theme Styles 



// -----------------------------
//  1. LESS Includes
// -----------------------------


// BK LESS Framework Include
// -------------------------

@import "@{templateCommon}/bk-less-framework.less";


// Theme Includes
// --------------

@import "@{templateLocal}/less/mixins.less";            // Mixins
@import "@{templateLocal}/less/type.less";              // Typography
@import "@{templateLocal}/less/widgets.less";           // Widgets


// Plugin Includes
// ---------------

@import "@{templateLocal}/less/plugins/blog.less";              // Blog
@import "@{templateLocal}/less/plugins/ecommerce.less";         // Ecommerce



// -----------------------------
//  2. Theme Styles
// -----------------------------

#tdk-toolbar {
    display: none!important;
}

// Global
// ---------------


// Container
.container {
    margin: 0 auto;
    max-width: 1200px;

    @media @tablet-860px {
        margin: 0 25px;
    }
}

.template-container {
    position: relative;
    overflow: hidden;
}



// Form Styles
// ---------------


// Legends
legend {
    color: @font-swatch2-color;
    font-family: @font-swatch2-font-family;
    font-size: bkscale(@font-swatch3-font-size, 0.98);
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch2-line-height;
    margin-bottom: 25px;

    @media @mobile-650px {
        font-size: bkscale(@font-swatch3-font-size, 0.8);
        line-height: bkscale(@font-swatch3-line-height, 0.85);
    }
}

// Labels
label {
    color: lighten(@font-swatch4-color, 25%);
    font-size: bkscale(@font-swatch7-font-size, 0.9);
    font-weight: @font-swatch7-font-weight;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// Inputs & textareas
input[type="search"], 
input[type="email"], 
input[type="password"], 
textarea, 
.input--single-line {
    border: 2px solid #ddd;
    font-size: bkscale(@font-swatch5-font-size, 0.95);
    padding: 10px;
    -webkit-appearance: none;
    &:focus {
        border-color: @color-swatch2;
        .transition(.3s all ease-in);
    }
}

input[type="search"], 
input[type="email"], 
input[type="password"], 
.product-filters .input--search,
.input--single-line {
    height: 54px;
}

// Selects
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ddd;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
    height: 54px;
    padding: 0 12px;
    text-transform: uppercase;
    width: 100%;
}

select::-ms-expand{
    display: none;
}

// Add custom dropdown icon to selects
.select-wrap {
    position: relative;
    &:after {
        font-family: 'FontAwesome', sans-serif;
        font-size: 16px;
        text-rendering: auto;
        content:"\f107";
        position: absolute;
        right: 15px;
        top: 22%;
    }
}

// Buttons
button, 
.button {
    background-color: black;
    color: white;
    font-weight: @font-swatch7-font-weight;
    letter-spacing: @font-swatch7-letter-spacing;
    padding: 11px 20px;
    text-transform: uppercase;
    .transition(all 0.5s ease-in-out);

    &:hover {
        background-color: lighten(black, 20%);
        color: white;
    }
}

.button--expand {
    background-color: transparent;
    padding: 0;

    &:hover {
        background-color: transparent;
    }
    .more, .less {
        background-color: @font-swatch7-background-color;
        color: @font-swatch7-color;
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
        margin-top: 25px;
        padding: 0 10px;
    }
}


// Header
// ---------------


// Default header styling
.template-header,
.home-page [data-widget-type="responsiveslideshow"].bk-tpl-hidden + .template-header,
.blogpost-page [data-widget-type="blogpost"].bk-tpl-hidden + .template-header {
    background-color: black;
    border-bottom: 1px solid @color-swatch7;
    padding: 20px;
    position: relative;

    @media @tablet {
        padding: 20px 0 20px 20px;
    }

    @media @mobile-650px {
        margin: 0;
        padding: 20px 0 20px 25px;
    }

    // Header flexbox alignment
    .container {
        // Flex
        .flex;
        .flex-display;
        .flex-wrap(wrap);
        .align-content(flex-start);
        .align-items(center);
        .justify-content(flex-start);
        margin: 0 auto;
        position: relative;

        @media @tablet {
            .flex-wrap(nowrap);
        }

        @media @mobile-650px {
            margin: 0;
        }
    }

    // Logo & Companyname
    [data-widget-type="logo"], 
    [data-widget-type="companyname"] {
        @media @tablet {
            z-index: 9999;
        }
    }

    // Logo
    [data-widget-type="logo"] {
        margin-right: 8px;
        max-width: 100%;

        .logo-link {
            display: block;
        }

        img {
            max-height: 300px;
        }
    }

    // Companyname
    [data-widget-type="companyname"] {
        @media @tablet {
            padding-right: 60px;
        }
    }

    .company-link {
        color: @font-swatch4-color;
    }
}

// Header styling if slideshow is present
.home-page [data-widget-type="responsiveslideshow"] + .template-header, 
.blogpost-page [data-widget-type="blogpost"] + .template-header {
    background-color: transparent;
    border-bottom: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

    .container {
        margin: 0 0 0 15px;
        max-width: 100%;

         @media @mobile-650px {
            margin: 0;
        }
    }

    // Color of navigation links when overlaying a feature image
    .navigation-item {
        &.selected {
            color: @font-swatch6-color-hover;
        }
        .item-name {
            color: fade(@font-swatch6-color, 70%);

            &:hover {
                color: @font-swatch6-color-hover;
            }
        }
    }
}


// Navigation
// ---------------


// Hide navigation toggle button
.navigation-toggle {
    display: none;
}

// Universal navigation styling
.navigation-item {

    &:hover .navigation-list--children {
        display: none;
    }

    .item-name {
        color: white!important;
        text-overflow: initial;
        word-wrap: break-word;
        white-space: normal;
        line-height: 26px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.27);

        @media @tablet {
            color: fade(@font-swatch6-color, 65%)!important;
            text-shadow: none;
        }
    }

    &:first-child .item-name {
        padding-left: 0;
    }

    // Navigation dropdown
    &.folder {
        .transition(all 0.2s ease-in-out);

        &.open, &:hover {
            ul {
                display: block;
                height: auto;
            }
        }

        ul {
            border: 1px solid @color-swatch7;
            display: none;
            text-align: left;

            .item-name {
                padding: 10px 12px 8px;
            }
        }

        // Navigation dropdown arrow
        span.item-name:after {
            color: white;
            content: "\f0dd";
            font-family: FontAwesome;
            font-size: 14px;
            margin-left: 7px;
            position: relative;
            top: -2px;
        }
    }
}


.bk-pt-default .extendednavigation__item-name {
    color: white !important;
    text-shadow: none;
}

.extendednavigation__item-name {
    text-transform: uppercase;
}

.bk-pt-default {
    .navigation-toggle,
    .navigation-toggle:after, 
    .navigation-toggle:before {
        background-color: black;
        @media @tablet {
            background-color: black!important;
        }
    }
    .default-profile div[data-widget-type="profile"] {
        background-color: #252525;
            .bk-profile .signupform button {
            background-color: black;
        }
    }
}



ul.navigation-list--children {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 125px;
    max-width: 160px;
}

.navigation-list {
    height: 100%;
    margin: 0;
}

div[data-widget-type="extendednavigation"] {
    .flex(1 1 auto);
    padding-right: 15px;
}

@media @tablet {

    div[data-widget-type="extendednavigation"] {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .navigation-body {
        background-color: @color-swatch1;
        -webkit-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.065);
        -moz-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.065);
        box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.065);
        position: fixed;
        top: 0;
        right: -80%;
        bottom: 0;
        margin: 0;
        overflow-x: scroll;
        padding-top: 20px;
        height: 100vh;
        width: 75%;
        .transition(right 400ms ease);
        z-index: 9999;

        &.open {
            right: 0;
        }
    }

    .navigation-body.open .navigation-item.folder ul {
        border-bottom: 1px solid @color-swatch7;
        border-top: 1px solid @color-swatch7;
        padding: 0 15px;
    }

    // Navigation Toggle
    // -----------------

    .navigation-toggle {
       
        // Displays as icon's middle bar
        background-color: white!important;
        background-clip: content-box;
        display: inline-block;
        height: 47px;
        margin: 0;
        padding: 22px 10px 22px 15px;
        position: fixed;
        right: 10px;
        top: 24px;
        text-indent: -9999px;
        .transition(background-color 0.35s ease-in);
        width: 50px;
        z-index: 99999;

        // Top and bottom navigation item bar
        &:after, &:before {
            content: "";
            height: 3px;
            width: 30px;
            position: absolute;
            left: 10px;
            display: block;
            background: black;
            margin-right: 0;
            margin-left: 0;
            .transition(all 0.35s ease-in-out);
            box-shadow: 2px 2px 4px rgba(0,0,0,0.27);
        }

        // Top bar
        &:before {
            top: 14px;
        }

        // Bottom bar
        &:after {
            bottom: 14px;
        }
    }

    .nav-open .navigation-toggle {

        // Toggle Button open state
        background-color: transparent;
        .transition(background-color 0s ease-out);
        z-index: 100000;

        &:before {
            top: 23px; 
            background: @font-swatch6-color-hover; 
            .transform(rotate(45deg));
        }
        &:after {
            bottom: 21px; 
            background: @font-swatch6-color-hover; 
            .transform(rotate(-45deg));
        }
    }


    // Slide out navigation
    .navigation-body {

        .navigation-list {
            margin-top: 60px;
            text-align: right;
            max-height: 70%;
            overflow-x: scroll;
        }

        .navigation-list .navigation-item {
            display: block;
            width: 100%;

            &:last-child  {
               border: none;
            }

            &.folder ul {
                display: none;
                margin-top: 0;
                text-align: right;
            }

            &.folder.open ul {
                display: block;
            }

            .item-name {
                padding: 14px 25px 14px 50px;
            }
        }
    }

    ul.navigation-list--children  {
        position: relative;
        min-width: 100%;
    }

    // Navigation button overlay
    .bk-extendednavigation + #page-zones__template-widgets__extendednavigation-header-nav-bk-overlay {
        position: fixed!important;
        right: 15px!important;
        left: initial!important;
        top: 18px!important;
        bottom: 0px!important;
        width: 50px!important;
        height: 50px!important;
    }

    // Navigation overlay
    .bk-extendednavigation.open + #page-zones__template-widgets__extendednavigation-header-nav-bk-overlay {
        position: fixed!important;
        left: inherit!important;
        right: 0!important;
        top: 85px!important;
        width: 75%;
        height: 100%!important;
        width: 75%!important;
        z-index: 99999!important;
    }
}

.navigation-toggle,
.navigation-toggle:after, 
.navigation-toggle:before {
    background-color: white;
}


// Slideshow
// ---------------

.home-page .responsiveslideshow {

    .slides-list {
        position: relative;
        height: 650px;
        height: 100vh;
    }

    // Overide the default display method to be able to transition
    .slide-item {
        display: list-item!important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        .transition(1s all ease-in-out);
        visibility: hidden;

        // The active state for the slideshows next and previous controls
        &.current {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    // Image element
    figure {
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 0;
        height: 100vh;
    }

    // Image title and description
    .caption {
        background-color: transparent;
        bottom: 40px;
        left: 40px;
        right: 40px;
        padding: 0;
        text-align: left;
        width: auto;

        @media @tablet-860px {
            max-width: 80%;
        }

        @media @mobile-650px {
            bottom: 25px;
            left: 25px;
            right: 25px;
            max-width: 100%;
        }

        // Slideshow title
        .image-title {
            font-family: @font-swatch1-font-family;
            color: white;
            font-size: 132px;
            line-height: 121px;
            letter-spacing: 10px;
            font-weight: 700;
            max-width: 30%;

            @media @mobile-650px {
                font-size: 66.2px;
                line-height: 66px;
                color: white;
                letter-spacing: 6px;
            }
        }

        // Slideshow title description
        .image-description {
            color: white;
            font-size: @font-swatch9-font-size;
            line-height: @font-swatch9-line-height;
            text-align: uppercase;
            font-weight: 700;
            letter-spacing: 3px;
            @media @mobile-650px {
                color: white;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }

    // Navigation buttons
    .slide-navigation {
        bottom: 40px;
        position: absolute;
        right: 40px;
        margin: 0;
        z-index: 2;

        @media @tablet-860px {
            display: none;
            visibility: hidden;
        }

        // Button styles
        button {
            background-color: transparent;
            border-top: 2px solid fade(@font-swatch6-color, 20%);
            border-bottom: 2px solid fade(@font-swatch6-color, 20%);
            color: white;
            position: relative;
            overflow: hidden;
            .transition(1s all ease-in-out);
        }

        // Button text
        .control-text {
            display: none;
            height: 0;
            visibility: hidden;
        }

        // Previous and next button
        .previous-button, 
        .next-button {
            height: 60px;
            width: 65px;
        }

        // Next button
        .next-button {
            border-right: 2px solid fade(@font-swatch6-color, 20%);
            margin-left: -4px;

            &:after {
                border-style: solid;
                border-width: 8px 0 8px 10px;
                border-color: transparent transparent transparent fade(@font-swatch6-color, 20%);
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 22px;
                top: 21px;
                .transition(0.75s border ease-in-out);
            }

            &:hover:after {
                border-color: transparent transparent transparent @font-swatch6-color;
            }
        }

        // Previous button
        .previous-button {
            border-left: 2px solid fade(@font-swatch6-color, 20%);
            border-right: 2px solid fade(@font-swatch6-color, 20%);
            margin-right: -3px;

            &:before {
                border-style: solid;
                border-width: 8px 10px 8px 0;
                border-color: transparent fade(@font-swatch6-color, 20%) transparent transparent;
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                right: 22px;
                top: 21px;
                .transition(0.75s border ease-in-out);
            }

            &:hover:before {
                border-color: transparent @font-swatch6-color transparent transparent;
            }
        }

        // If the pause button is visible add a border left to the next button
        .previous-button + .pause-toggle + .next-button {
            border-left: 2px solid fade(@font-swatch6-color, 20%);
        }

        // If the pause button isn't visible remove the minus margin
        .previous-button + .previous-next {
            margin-left: 0;
        }

        // If the previous and next buttons are visible then remove borders from the play/pause button
        .previous-button + .pause-toggle {
            border-left: 0;
            border-right: 0;
        }

        // Pause button
        .js-btn-play {
            border-left: 2px solid fade(@font-swatch6-color, 20%);
            border-right: 2px solid fade(@font-swatch6-color, 20%);
            height: 60px;
            width: 100px;
            vertical-align: top;

            &:after {
                border-style: solid;
                border-width: 11px 0 11px 13px;
                border-color: transparent transparent transparent @font-swatch6-color;
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 38px;
                top: 18px;
            }

            &:before {
                height: 0;
                opacity: 0;
                visibility: hidden;
            }

            &.pause {
                &:before, &:after {
                    background-color: @font-swatch6-color;
                    content: "";
                    display: inline-block;
                    margin: 0;
                    opacity: 1;
                    position: absolute;
                    height: 20px;
                    width: 3px;
                    top: 19px;
                    visibility: visible;
                }
                &:before {
                    left: 40px;
                }

                &:after {
                    border: none;
                    left: 50px;
                }
            }
        }
    }

    // Slide pagination
    .slide-pagination {
        bottom: 0;
        .flex-display(inline-flex);
        .flex-grow(1);
        .align-items(center);
        .align-content(center);
        position: absolute;
        right: 40px;
        top: 0;
        z-index: 2;

        @media @mobile-650px {
            right: 25px;
        }

        // Pagination list element
        li.pagination-item {
            display: block;
            margin-bottom: 14px;
            
            &.selected button {
                background-color: @font-swatch6-color-hover;
                border: none;
                position: relative;  
            }
        }

        // Pagination button
        button {
            background-color: white;
            border: none;
            overflow: hidden;
            padding: 0;
            .rotate(45deg);
            text-indent: -9999px;
            height: 13px;
            width: 13px;
        }
    }
}



// Main
// ---------------

div[role="main"] {
    padding: 3em 1em;

    @media @tablet-860px {
        padding: 3em 0;
    }

    @media @mobile-650px {
        padding: 2em 0;
    }

    &.ecom-product {
        min-height: 92vh;
        padding: 0 1em 0 0;

        @media @tablet-860px {
            padding: 2em 25px;
        }
    }
}



// Profile widget
// ---------------

.default-profile div[data-widget-type="profile"] {
    background-color: black;
    padding: 55px 30px 50px;
    text-align: center;

    @media @tablet-860px {
        padding: 15px 20px 15px;
    }

    @media @mobile-650px {
        padding: 15px 20px 15px;
    }

    @media @mobile {
        padding: 15px 20px 15px;
    }

    .bk-profile {
        margin: 0 auto;
        max-width: 600px;

        // Signup form
        .signupform {

            .form-body {
                .flex-wrap(wrap);
            }

            // Show legend
            .legend {
                display: block;
                visibility: visible;
                float: left;
                margin: 0 25px 0 0;
                line-height: 60px;
                color: white;

                @media @mobile-650px {
                    font-size: bkscale(@font-swatch3-font-size, 0.9);
                    line-height: bkscale(@font-swatch3-line-height, 0.95);
                    float: none;
                    margin: 0 0 15px 0;
                }
            }

            // Hide label
            .label {
                display: none;
                visibility: hidden;
            }

            // Form group
            .form-group {
                padding: 0;

                @media @mobile-650px {
                    display: block;
                }

                // Bring button over input
                &:last-child {
                    margin-left: -1px;
                }
            }

            // Form input
            input {
                border: 1px solid @color-swatch7;
                height: 60px;
            }

            input[type="email"]:focus {
                border: 1px solid darken(@color-swatch7, 8%);
                box-shadow: none;
            }

            // Form button
            button {
                background-color: #232323;
                color: white;
                margin: 0;
                height: 59px;

                &:hover {
                    background-color: #444444;
                }

                @media @mobile-650px {
                    width: 100%;
                }
            }
        }

        // Remove padding from profile widget text
        h2.headline, p.business {
            padding-bottom: 0;
        } 

        // Pushes Twitter username away from twitter bird
        .account-name {
            padding-right: 40px;
        }
    }
}

// Footer
// ---------------

.template-footer {
    padding: 30px 1em;
    position: relative;
    background-color: black;

    @media @mobile-650px {
        padding: 25px 0;
        text-align: center;
    }

    // Flexbox positiong for footer elements
    .container {
        // Flex
        .flex;
        .flex-display;
        .flex-wrap;

        @media @mobile-650px {
            display: block;
        }
    }

    // Widgets grow to fill respective space
    .widget {
        .flex-grow(1);
    }

    // Keep footer widgets vertically aligned
    div[data-widget-type="profile"], div[data-widget-type="companyaddress"] {
        .align-self(center);
    }

    // Footer company address widget
    div[data-widget-type="companyaddress"] {   
        padding-right: 10px;
    }

    // Footer profile widget
    div[data-widget-type="profile"] {
        padding-left: 10px;
        text-align: right;

        @media @mobile-650px {
            text-align: center;
        }
    }

    // Address widget styling
    .address-line {
        display: inline-block;

        @media @mobile-650px {
            text-align: center;
        }
    }

    // Profile widget signup form styling
    .signupform {
        label {
            display: none;
            visibility: hidden;
        }
        button {
            margin-top: 0;
        }
    }

    .social-link {
        background-color: black;
        height: 20px;
        width: 20px;
        color: white!important;
    }

    .social-link:before {
        font-size: 20px;
    }

    .bk-profile {

        // Remove padding from profile widget text
        h2.headline, p.business {
            padding-bottom: 0;
        } 

        // Pushes Twitter username away from twitter bird
        .account-name {
            padding-right: 40px;
        }
    }

    // Profile widget copyright styling
    .copyright {
        padding: 0;
        color: white!important;

        @media @mobile-650px {
            margin-top: 12px;
            text-align: inherit;
        }
    }

    .socialicons__social-list {
        text-align: left;
        @media @tablet {
            text-align: center;
        }
    }
}



