<footer class="template-footer">
	<div class="container">
		{{widget('companyaddress', 'footer-address', {})|raw}}
		{{widget('profile', 'footer-copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>
</footer>
