<header class="template-header">
	<div class="container">
		{{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'companyname', {"business": "ODENSE", "showTplWidget":"0"})|raw}}
		{{widget('extendednavigation', 'header-nav', {"align":"right"})|raw}}
		{{widget('ecombasket', 'shopbasket', {})|raw}}
	</div>
</header>
